{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-5 mt-5">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-xl-9">
                <div id="main" class="product-list px-3 py-2">
                    <h1>{{ category_B_slug.name }}</h1>
                    <div class="row mt-4">

                    <!-- No_Product_page -->
                    {% if not products_by_slug %}
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static "images/no_image.jpg" %}">
                                <div class="card-body">
                                    <h4 class="card-title text-center">
                                        Coming Soon ...
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                     <!-- Product List in card -->
                    {% for product in products_by_slug %}
                        <div class="col-md-4 col-lg-4 col-xl-4 mb-2">
                            <!-- Product_Picture -->
                            <div class="card">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.jpg" %}{% endif %}">
                                </a>
                                <!-- Product_Title -->
                                <div class="card-body text-center">
                                    <a href="{{ product.get_absolute_url }}">
                                        <h5 class="card-title demo-text-black"> {{ product.name }} </h5>
                                    </a>
                                    <p class="card-text">${{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
