{% load static %}

<!-- footer-->
<footer class="footer-48201">
    <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-6">
              <div class="footer_box">
                <img src="{% static 'images/logo.png' %}">
                <p>Here is the footer Demo, Here is the footer Demo, Here is the footer Demo, Here is the footer Demo , Here is the footer Demo</p>
              </div>
            </div>
            <div class="col-md text-md-center">
              <ul class="list-unstyled nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">About Author</a></li>
                <li><a href="#">Github</a></li>
              </ul>
            </div>

            <!-- Contact Us -->
            <div class="col-md text-md-center">
              <h4 >Contact Us</h4>
              <ul class="social list-unstyled">
                <li><a href="http://facebok.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://instagram.com"><i class="fa fa-instagram" style:></i></a></li>
                <li><a href="https://www.linkedin.com/in/jerry-yu-345585201/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="mailto:jeyu54217@gmail.com"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div> 

          <!-- Copyright -->
          <div class="row ">
            <div class="col-12 text-center">
              <div class="copyright mt-5 pt-5">
                <p><small>&copy; 2021 All Rights Reserved.</small></p>
              </div>
            </div>
          </div> 
     </div>  
  </footer>     