{% extends 'base.html' %}

{% block content %}
<div class="container-fluid ">
    <div class="d-flex flex-column justify-content-center px-5 mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Create An Account</h1>
            </div>
            <div class="card-body">
                <form action="." method="post" novalidate>
                    {{ user_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Register"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}