{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid px-5 mt-5">
    <h1>Checkout</h1>
    <div class="row mt-3">
        <!-- Form -->
        <div class="col-md-5 col-lg-5 col-xl-5">
            <div class="card"> 
                <div class="card-header">
                    <h3>Information</h3>
                </div>
                <div class="card-body">
                    <form action="." method="post" id="orders-form" class="my-5 px-4">
                        {{ form.as_p }}  <!-- as_p : renders the form as a series of <p> tags https://docs.djangoproject.com/en/3.2/ref/forms/api/#as-p -->
                        <div class="text-right col-md-5 col-lg-5 col-xl-5">
                            <input type="submit" class="btn btn-info" value="Place order">
                        </div> 
                        {% csrf_token %}
                    </form> 
                </div>
            </div>
        </div>

        <!-- Order Info -->
        <div class="col-md-7 col-lg-7 col-xl-7 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3>Your Order</h3>
                </div>
                <div class="card-body">
                    <table class="table table-responsive table-hover mt-3 min-height-30">
                        <thead>
                            <tr class="table-Warning">
                                <th>#</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            <tr>
                            <!-- # -->
                            <td>{{forloop.counter}}</td>
                            <!-- Name -->
                            <td>{{item.product.name}}</td>
                            <!-- Quantity -->
                            <td>{{ item.quantity}}</td>
                            <!-- Unit Price -->
                            <td>$ {{ item.price }}</td>
                            <!-- Total -->
                            <td>$ {{ item.total_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer demo-white">
                    <p>Total: $ {{ cart.get_total_price }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


