{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="d-flex flex-column justify-content-center px-5 mt-5">
        <div class="p-2">
            <h1> Success ! </h1>
        </div>
        <div class="p-2">
            <br>
            <p>The order has been successfully complete !</p>
            <br>
            <p>The confirmtaion message has been sent to your email.</p>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div> 
{% endblock %}
 
 